<div id="app-container">
  <div id="splash">
    <div id="splash-logo">
      <img id="splash-img" src="hfib-logo.png" alt="site logo">
      <h1 id="title">How Far in Beavers</h1>
    </div>
    <h2>Measure any distance with anything!</h2>
    <h3>Powered by GPT</h3>
  </div>
  <div id="places" class="input-group">
    <app-input [label]="'From'" [placeholder]="'Earth'" [control]="origin"></app-input>
    <app-input [label]="'Destination'" [placeholder]="'Moon'" [control]="destination"></app-input>
  </div>
  <div id="measurement">
    <app-input [label]="'Measurement'" [placeholder]="'Beavers'" [control]="measurement"></app-input>
  </div>
  <app-button label="Measure" (clickFn)="fetchData()"></app-button>
  <h2 id="response">{{response}}</h2>
</div>